/***************************************************************************************************
 * FILE: category.css
 *
 * PURPOSE
 * Defines category-related typography used throughout the ShopMate application.
 *
 * RESPONSIBILITIES
 * • Category title
 * • Category information
 * • Category page title
 *
 * PAGES
 * • Category Page
 ***************************************************************************************************/
/* Category Title */
.categoryTitle {
  margin: 0;
  padding-bottom: 15px;
  color: var(--textColor);
  font-size: 22px;
  font-weight: 700;
}
/* Category Information */
.categoryInfo {
  margin-top: 6px;
  color: #777777;
  opacity: 0.7;
  font-size: 13px;
}
/* Category Page Title */
.categoryPageTitle {
  color: #001c8f;
  font-size: 24px;
}
